In [5]:
import pandas as pd
import numpy as np

In [6]:
data=pd.read_csv("spam.csv" ,encoding="latin-1")

In [7]:
data.head()

  class                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
data.columns

Index(['class', 'message'], dtype='object')

In [9]:
data = data.rename(columns={'Category': 'class', 'Message': 'message'})

In [10]:
data.columns

Index(['class', 'message'], dtype='object')

In [11]:
data['class']=data['class'].map({'ham':0, 'spam':1})

In [12]:
data.head()

   class                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [2]:
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
from sklearn.model_selection import train_test_split

In [13]:
X = data['message']
y = data['class']

In [15]:
X.shape

(5572,)

In [16]:
y.shape

(5572,)

In [17]:
data.isnull().sum()
cv = CountVectorizer()
X = cv.fit_transform(X)
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
x_train.shape
x_test.shape

(1115, 8745)

In [18]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

In [19]:
model.fit(x_train, y_train)
model.score(x_test, y_test)
msg = "You Won 500$"
data = [msg]
vect = cv.transform(data).toarray()
my_prediction = model.predict(vect)

In [21]:
vect

import pickle
pickle.dump(model, open('spam123.pkl', 'wb'))

In [25]:
import pickle
pickle.dump(cv, open('vec123.pkl', 'wb'))